<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./imgs/icon.ico" />
    <title>Restaurante</title>
</head>
<body>
    
    <button id="btnRegistro">Ir a Registro</button>

    <!-- Script para redirigir cuando se hace clic en el bot칩n -->
    <script>
        // Obtener referencia al bot칩n
        var btnRegistro = document.getElementById("btnRegistro");

        // Agregar un evento de clic al bot칩n
        btnRegistro.addEventListener("click", function() {
            // Redirigir a la p치gina de registro
            window.location.href = "/registro";
        });
    </script>
</body>
</html>